.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: var(--background-color);
    box-shadow: var(--header-boxShadow-cl) 0px 1px 1px;
}

.wrapper+.wrapper {
    margin-left: 16px;
}

.content {
    margin-left: var(--default-layout-content-margin-RL);
    margin-right: var(--default-layout-content-margin-RL);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__link {
    display: inline-block;
    width: 300px;
    height: 31px;
    object-fit: cover;
    color: var(--primary-text-cl);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    ;
}

// actions
.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 222px;
    height: 37px;
    padding-right: 12px;
    flex-shrink: 0;

    &__upload {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 21px;
        min-width: 115px;
        padding: 5px 16px;
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 600;
        border: 1px solid rgba(22, 24, 35, 0.12);
        border-radius: 2px;
        transition: background-color 0.25s ease-in-out;
        background-color: var(--background-second-color);

        &:hover {
            background: var(--icon-hover-BG-color);
        }
    }

    &__inbox {
        margin-right: 31px;
    }

    &__avatar {
        display: inline-block;
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
    }

}

.more-btn {
    margin-left: 28px;
    padding: 4px 8px;
}

.mailbox {
    display: flex;
    align-items: center;
    position: relative;

    &:not([data-inbox=""])::after {
        position: absolute;
        content: attr(data-inbox);
        top: -4px;
        left: calc(100% - 13px);
        color: var(--white-color);
        height: 20px;
        background-color: var(--primary-cl);
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 9999px;
        max-width: 35px;
        min-width: 20px;
        height: 20px;
        padding: 2px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

//  tooltips
.tooltip {
    position: relative;

    &::before {
        position: absolute;
        display: block;
        content: attr(data-tooltip);
        top: calc(100% + 6px);
        right: 50%;
        translate: 50% 0;
        z-index: 100;
        border-radius: var(--tooltip-border-radius);
        padding: var(--tooltip-border-radius);
        background-color: var(--tooltip--background-color);
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        opacity: 0;
        visibility: hidden;
        transform-origin: top center;
        transition: opacity 0.25s, visibility 0.25s;
    }

    &::after {
        position: absolute;
        content: "";
        opacity: 0;
        visibility: hidden;
        top: calc(100% + -12px);
        translate: 50% 0;
        right: 50%;
        z-index: 100;
        border-width: 9px;
        border-style: solid;
        border-color: transparent transparent var(--tooltip--background-color) transparent;
        transform-origin: top center;
        transition: opacity 0.25s, visibility 0.25s;
    }

    &:hover::before,
    &:hover::after {
        visibility: visible;
        opacity: 1;
    }
}