.sidebar-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 12px;
    row-gap: 16px;
    transition: all 200ms ease-out;


    .sidebar-header__logo {
        display: flex;
        align-items: center;
        color: var(--primary-text-cl);
        margin-left: 8px;
    }

    .sidebar-header__search {
        width: 208px;
        height: 4rem;
        transition: width 200ms ease-out, height 200ms ease-out;
    }

    .sidebar-search {
        display: flex;
        align-items: center;
        flex-direction: row;
        background: var(--background-input-color);
        width: 100%;
        height: 100%;
        border-radius: 999px;
        transition: width 200ms ease-out;

        &__icon {
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2px;
            color: var(--primary-text-cl);
        }

        &__label {
            margin-left: calc(13px - 8px - 2px);
            font-size: 1.4rem;
            color: var(--placeholder-text-cl);
            letter-spacing: 0.15px;
            transition: display 200ms ease-out;
        }
    }
}

.sidebar-header--small {
    justify-content: center;
    margin-right: 16px;

    .sidebar-header__search {
        width: 40px;
        transition: width 200ms ease-out;

        .sidebar-search {
            transition: justify-content 200ms ease-out;

            &__label {
                display: none;
                transition: display 200ms ease-out;
            }
        }

        &__icon {
            margin: 0;
            transition: margin 200ms ease-out;
        }
    }
}