
.light,
.App[data-theme="light"] {
    // color background
    --background-color: #fff;
    --background-second-color: rgb(255, 255, 255);
    --background-input-color: rgba(22, 24, 35, 0.06);
    --header-boxShadow-cl: rgba(0, 0, 0, 0.12);
    --background-card-profile: rgba(22, 24, 35, 0.03);

    //color text 
    --primary-text-cl: #161823;
    --secondary-text-cl: rgba(22, 24, 35, 0.5);
    --placeholder-text-cl: rgba(0, 0, 0, 0.34);
    --hashTag-text-cl: rgb(43, 93, 185);
    --ui-text-a75: rgba(22, 24, 35, 0.75);


    //icon
    --input-BG: rgba(255, 255, 255, 0.12);
    --icon-color: rgba(22, 24, 35, .34);
    --search-icon-color: rgba(22, 24, 35, .34);
    --icon-hover-BG-color: rgba(22, 24, 35, 0.03);
    // border
    --border-cl: #d5d5d6;
    //button
    --btn-hover-cl: rgba(22, 24, 35, 0.06);

    --tooltip--background-color: rgb(23, 23, 23, 0.7);
    --thumb-cl: rgba(22, 24, 35, .06);
    --btn-hover-cl-second: rgba(0, 0, 0, 0.12);

    // action bar
    --ui-action-hover: rgba(22, 24, 35, 0.08);
    --ui-action-active: rgba(22, 24, 35, 0.14);
}
