.volume-control {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;

    &__icon{
        position: relative;
        padding: 8px;
        opacity: 1;
        width: 40px;
        height: 40px;
        z-index: 6;
        transition: opacity  0.3s;
        cursor: pointer;
        &.visible svg{
            opacity: 1;
        }
    }

    .volumeBar-container {
        width: 64px;
        height: 24px;
        position: relative;
        background: rgba(22, 24, 35, 0.34);
        border-radius: 32px;
        margin: 7px 8px 7px 0px;
        cursor: pointer;

        .volume-bar {
            width: 48px;
            height: 2px;
            background-color: rgba(255, 255, 255, 0.34);
            position: absolute;
            cursor: pointer;
            border-radius: 4px;
            left: 8px;
            right: 8px;
            top: 11px;

            &__track {
                width: 0px;
                height: 2px;
                background-color: var(--white-color);
                position: absolute;
                cursor: pointer;
                border-radius: 4px;
                transform-origin: left center;
                top: 50%;
                left: 0;
                translate: 0 -50%;
                z-index: 4;

            }

            &__thumb {
                width: 12px;
                height: 12px;
                background-color: var(--white-color);
                border-radius: 999px;
                position: absolute;
                cursor: pointer;
                z-index: 4;
                top: 50%;
                left: 0;
                translate: 0 -50%;
                cursor: grab;

                &:active {
                    cursor: grabbing;
                }
            }
        }
    }
}