.wrapper {
    min-width: 100px;
    padding: 6px 6px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 1.31;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;


    //button disabled

    .disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
        user-select: none;
    }
}

.wrapper+.wrapper {
    margin-left: 8px;
}

// Button styles

.rounded {
    border-color: rgba(22, 24, 35, 0.12);
    color: rgba(22, 24, 35, 0.75);
    border-radius: 999px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.primary {
    background-color: var(--primary-cl);
    color: var(--white-color);
    border-color: var(--primary-cl);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
        border-color: var(--primary-cl);
    }
}

.outline {
    color: var(--primary-cl);
    border-color: currentColor;
    background-color: var(--);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border-color: currentColor;
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//button sizes
.small {
    min-width: 88px;
    padding: 1px 16px
}

.large {
    font-size: 1.8rem;
    font-weight: 700;
    min-width: 200px;
    padding: 11px 16px;
    line-height: 1.4;
}

//button icon
.icon+.title,
.title+.icon {
    margin-left: 8px;
}

.icon,
.title {
    display: inline-flex;
    align-items: center;
}