//embedded fonts
@use 'src/assets/fonts';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// reset css
@import "normalize.css";


* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-cl: #fe2c55;


    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-content-margin-RL: 16px;

    // Tooltip
    --tooltip-padding: 7px 6px;
    --tooltip-border-radius: 6px;
    --tooltip-transition: opacity 0.25s, visibility 0.25s;

    //fonts
    --font-primary: TikTokFont,Poppins, sans-serif;
    --font-secondary: TikTokDisplayFont ,Poppins, sans-serif;
}

html {
    font-size: 62.5%;
}


body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed; // optimize display font
    margin: 0;
}

html, body {
    overflow-y: overlay;
    scroll-behavior: smooth;
}

//  reset styles
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

button {
    background: transparent;
    outline: none;
}

//  theme specific
.dark ,.App[data-theme="dark"] {
    --background-color: rgb(18, 18, 18);
    --background-second-color: rgb(37, 37, 37);
    --background-input-color: rgba(255, 255, 255, 0.12);
    --header-boxShadow-cl: rgba(255, 255, 255, 0.12);

    --primary-text-cl: rgba(255, 255, 255, 0.9);
    --secondary-text-cl: rgba(255, 255, 255, 0.5);

    --border-focus-cl: 2px solid rgb(255, 76, 58);



    --input-BG: rgba(255, 255, 255, 0.12);
    --icon-hover-BG-color: rgba(255, 255, 255, 0.04);
    --icon-color: rgba(22, 24, 35, .34);

    //border-color
    --border-cl: rgba(255, 255, 255, 0.2);

    --btn-hover-cl: rgba(255, 255, 255, 0.08);

    --tooltip--background-color: rgba(98, 95, 95, 0.7);
    --thumb-cl: rgba(164, 164, 164, 0.06);
    

}

.light ,.App[data-theme="light"] {
    // color background
    --background-color: #fff;
    --background-second-color: rgb(255, 255, 255);
    --background-input-color: rgba(22, 24, 35, 0.06);
    --header-boxShadow-cl: rgba(0, 0, 0, 0.12);
    //color text 
    --primary-text-cl: #161823;
    --secondary-text-cl: rgba(22, 24, 35, 0.5);

    //icon
    --input-BG: rgba(255, 255, 255, 0.12);
    --icon-color: rgba(22, 24, 35, .34);
    --search-icon-color: rgba(22, 24, 35, 0.34);
    --icon-hover-BG-color: rgba(22, 24, 35, 0.03);
    // border
    --border-cl: #d5d5d6;
    //button
    --btn-hover-cl: rgba(22, 24, 35, 0.06);

    --tooltip--background-color: rgb(23, 23, 23, 0.7);
    --thumb-cl: rgba(22, 24, 35, .06);

}
html, body {
    overflow-y: overlay;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}


.App {
    background-color: var(--background-color);
    color: var(--primary-text-cl);
    transition: background-color 0.25s;
}

// customize scroll

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}


html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--thumb-cl);
}


html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: var(--background-color);
}

// cta
.btn-cta-Fixed {
    position: fixed;
    bottom: 24px;
    right: 24px;
}