.progress {
    position: relative;
    height: 1.6rem;
    width: 100%;
    user-select: none;

    &__thumb {
        display: block;
        position: absolute;
        opacity: 0;
        top: 50%;
        width: 12px;
        aspect-ratio: 1/1;
        z-index: 6;
        background: var(--white-color);
        box-shadow: 0 0 1px 1px var(--overlay-black);
        border-radius: 50%;
        transform: translate(-50%, calc(-50% + 0.5rem));
        cursor: grab;
        transition:  opacity 100ms ease;
        &.dragging {
            cursor: grabbing;
        }
        &::before {
            content: '';
            position: absolute;
            top: -9px;
            left: -9px;
            right: -9px;
            bottom: -9px;
            background: transparent;
            z-index: 7;
        }
    }

    &__time {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translate(-50%, -200%);
        background-color: transparent;
        color: var(--white-color);
        height: 30px;
        letter-spacing: 0px;
        white-space: nowrap;
        text-shadow: 0 0 1px var(--overlay-black);
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        visibility: hidden;
        opacity: 0;
        scale: 0.8;
        transform-origin: bottom left;
        transition: opacity 200ms ease-in,
            visibility 200ms ease-out,
            scale 200ms ease-in-out;
    }
}

.progressBar-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
    clip-path: inset(0 round 0 0 16px 16px);
}


.progress__thumb.dragging~.progress__time {
    visibility: visible;
    opacity: 1;
    scale: 1;
}

.progress:hover .progress__thumb,
.progress__thumb.dragging {
    opacity: 1;
}

.progress-bar {
    flex-shrink: 0;
    display: block;
    position: relative;
    width: 100%;
    left: 0;
    height: 0.4rem;
    background: var(--overlay-white);
    cursor: pointer;
    user-select: none;

    &__track {
        display: block;
        position: absolute;
        height: 100%;
        background: var(--primary-cl);
        border-radius: 5px;
    }
}
.progress__thumb.dragging ~  .progressBar-container .progress-bar,
.progressBar-container:hover  .progress-bar {
    height: 0.6rem;
}
