@mixin smallSidebar {
    width: 56px;
    border-right: 1px solid var(--header-boxShadow-cl);
}

.container {
    position: relative;
    width: 232px;
    height: calc(100vh);
}

.SideBar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0 26px 0;
    height: 100%;
    flex-shrink: 0;
    transition: width 400ms ease;
}

.sidebar-scroll-container {
    flex-shrink: 0;
    flex: 1;
    overflow: hidden scroll;
    scrollbar-width: none;
}

/* Áp dụng cho chế độ nhỏ (small) */
.SlidingSidebar {
    @include smallSidebar;
}

/* Media Queries */

/* PC */
@media screen and (min-width: 992.98px) {
    .wrapper {}
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
    .container {
        @include smallSidebar;
    }
}

@media screen and (min-width: 768.98px) and (max-width: 991px) {
    .wrapper {
        @include smallSidebar;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .wrapper {
        @include smallSidebar;
    }
}