.wrapper {
    display: flex;
    flex-direction: row;
    position: relative;


}

.tabBar {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-bottom: 1px solid var(--header-boxShadow-cl);
    @media (max-width: 991px) {
        justify-content: center;
    }

    .tabFeed {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.334;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        padding: 0px 32px;
        cursor: pointer;
        text-align: center;
        color: var(--secondary-text-cl);
        column-gap: 4px;

        @media (max-width: 991px) {
            padding: 0px 16px;
            flex-grow: 1;
        }

    }

    & .active {
        color: var(--primary-text-cl);
    }

    &:hover {
        color: gray;
    }

    .tabBar_icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.underline {
    position: absolute;
    height: 2px;
    background: var(--primary-text-cl);
    bottom: 0px;
    transition: left 0.3s ease,
        width 0.3s ease;
}