.wrapper {
    padding: 9px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;

    &:hover {
        background-color:var(--btn-hover-cl);
    }
    list-style: none;
}

.accountItem-content {
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info {
    margin-left: 12px;
    align-items: center;

    &__username,
    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__name {
        font-size: 1.4rem;
        line-height: 1.29;
        color: rgba(22, 24, 35, 0.5);
        font-weight: 400;
        color: var(--secondary-text-cl);
    }

    &__username {
        font-size: 1.6rem;
        line-height: 1.325;
        font-weight: 600;
        display: flex;
        color: var(--primary-text-cl);
        justify-content: flex-start;
        align-items: center;
    }

    &__verified {
        margin-left: 4px;
        display: flex;
        width: 15px;
    }
}