//  theme specific
.dark,
.App[data-theme="dark"] {
    --background-color: rgb(18, 18, 18);
    --background-second-color: rgb(37, 37, 37);
    --background-card-profile: rgba(255, 255, 255, 0.04);
    --background-input-color: rgba(255, 255, 255, 0.12);
    --header-boxShadow-cl: rgba(255, 255, 255, 0.12);

    --primary-text-cl: rgba(255, 255, 255, 0.9);
    --secondary-text-cl: rgba(255, 255, 255, 0.5);
    --placeholder-text-cl: rgba(255, 255, 255, 0.4);
    --hashTag-text-cl: rgb(143, 190, 233);
    --ui-text-a75: rgba(255, 255, 255, 0.75);


    --border-focus-cl: 2px solid rgb(255, 76, 58);



    --input-BG: rgba(255, 255, 255, 0.12);
    --icon-hover-BG-color: rgba(255, 255, 255, 0.04);
    --icon-color: rgba(22, 24, 35, .34);

    //border-color
    --border-cl: rgba(255, 255, 255, 0.2);

    // button
    
    --btn-hover-cl: rgba(255, 255, 255, 0.04);
    --ui-color-button-A08:rgba(255, 255, 255, 0.08);
    --ui-color-button-hover-A04: rgba(255, 255, 255, 0.04);
    --btn-hover-cl-second: rgba(255, 255, 255, 0.19);


    --tooltip--background-color: rgba(98, 95, 95, 0.7);
    --thumb-cl: rgba(164, 164, 164, 0.06);

    // action bar
    --ui-action-hover: rgba(255, 255, 255, 0.08);
    --ui-action-active: rgba(22, 24, 35, 0.14);
    

}