.ActionBar {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__blockLeft,
  &__blockRight {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__blockLeft {
    column-gap: 20px;
  }

  &__blockRight {
    column-gap: 10px;
  }
}

// ActionBar Item
.actionBar-item {
  font-size: 3.2rem;
  display: flex;
  align-items: center;

  .transitionBGC {
    transition: background-color 200ms ease-in;
  }

  &__btn {



    &:hover {}

    &.liked {}

    &.saved {}

    svg {}
  }

  &__value {
    font-size: 1.2rem;
    line-height: 1.3;
    color: var(--ui-text-a75);
    text-align: center;
    margin-left: 6px;
  }
}

// ShareButton
.shareIcon {
  width: 2.4rem;
  height: 2.4rem;

  &:hover {}
}

