.NavigatorVideo-wrapper {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
}
.NavigatorVideo__btn {
    border-radius: 999px;
    aspect-ratio: 1 / 1;
    width: 1em;
    font-size:  clamp(3.2rem, 3vw + 1rem, 4.8rem);
    background-color: var(--background-input-color);
    transition-property: height, width,font-size;
    transition-duration: 300ms;
    transition-timing-function: linear;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-cl);
    transition: background-color 200ms ease-in-out;
    &:hover {
        background-color: var(--btn-hover-cl-second);
    }
}
.NavigatorVideo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    height: 100%;
    font-size: 3rem;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
}