.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 20px;
    column-gap: 28px;

    @media (max-width: 991px) {
        flex-direction: column;
    }
}

.profile-avatar {
    width: 212px;
    height: 212px;

    /* Mobile */
    @media screen and (max-width: 767px) {
        width: 96px;
        height: 96px;
    }
}

.profile-info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 16px;

    @media (max-width: 991px) {
        align-items: center;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__name {
        font-family: var(--font-secondary);
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.25;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        word-break: break-word;
        margin-right: 13px;
    }
    &__iconTick {
        margin-right: 13px;
    }

    &__nickName {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.334;
        text-overflow: ellipsis;
        height: 25px;
        overflow: hidden;
        max-width: 450px;
        white-space: nowrap;
        display: flex;
        align-items: flex-end;
    }

    &__bio {
        text-align: left;
        color: var(--primary-text-cl);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.3125;
        white-space: pre-line;
        max-width: 600px;

        @media screen and (max-width: 991px) {
            text-align: center;
        }
    }

    & &__btn {
        height: 40px;
        min-width: 108px;
        border-radius: 6px;
        font-size: 1.6rem;
        line-height: 1.3125;
        font-weight: 600;
        transition: background-color 0.2s ease-out;

        @media screen and (max-width: 766.98px) {
            min-width: 40px;
        }
    }

    & &__btn+&__btn {
        margin-left: 13px;
    }

    &__btn--secondary {
        background-color: var(--background-input-color);
        color: var(--primary-text-cl);
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: var(--btn-hover-cl);
        }
    }

    & &__btn--small {
        min-width: 40px;
    }

    .profile-info-btn__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;

        @media screen and (min-width: 992.98px) {
            display: none;
        }

        @media screen and (max-width: 991px) {
            display: flex;
        }

        @media screen and (max-width: 766.98px) {
            margin-right: 0;
        }
    }

    .profile-info-btn__title {

        @media screen and (min-width:767px) {
            display: inline-block;
        }

        @media screen and (max-width: 766.98px) {
            display: none;
        }
    }
}

.stats {
    display: flex;
    column-gap: 20px;

    &__value {
        font-weight: 700;
        color: var(--primary-text-cl);
        font-size: 1.8rem;
        line-height: 1.334;
    }

    &__desc {
        color: var(--primary-text-cl);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.25;
        display: inline-block;
        margin-left: 6px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}