.text-with-tags {
    &__normal {
        font-size: inherit;
        font-weight: inherit;
    }
    &__tag {
        color: var(--hashTag-text-cl);
        font-weight: 600;
        text-decoration: none;

        &:hover {
            text-decoration: underline var(--primary-text-cl);
        }
    }

    &__hashtag {
        color: var(--hashTag-text-cl);
        font-weight: 600;
        text-decoration: none;

        &:hover {
            text-decoration: underline var(--primary-text-cl);
        }
    }
}