.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-input-color);
    border-radius: 999px;
    width: 1em;
    height: 1em;
    font-size: 1em;
    color: var(--primary-text-cl);

    & svg {
        font-size: clamp(3.2rem, 3vw + 1rem, 4rem);
    }

    &:hover {
        background-color: var(--ui-action-hover);
    }

    &:active {
        background-color: var(--ui-action-active);
    }

    &.liked svg {
        animation: scaleHeart 0.4s ease-in-out;
        color: var(--primary-cl);
    }

    &.saved svg {
        transform-origin: top;
        animation: scaleSave 0.4s ease;
        color: var(--yellow-color);
    }

    &:not(.saved, .liked) svg {
        animation: cancel 0.6s ease-in-out;
    }
}