.actionBar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 17px;
    flex-shrink: 0;
}

.actionBar-item:first-child {
    margin-bottom: 16px;
}

.actionBar-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-text-cl);
    font-size: clamp(3.2rem, 3vw + 1rem, 4.8rem);

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-input-color);
        border-radius: 999px;
        width: 1em;
        height: 1em;
        font-size: 1em;
        color: var(--primary-text-cl);
        margin: 8px 0 6px 0;
        transition: background-color 500ms ease-in-out;

        & svg {
            font-size: clamp(3.2rem, 3vw + 1rem, 3.6rem);
        }

        &:hover {
            background-color: var(--btn-hover-cl-second);
        }
        &:active {
            background-color: var(--btn-hover-cl);
        }
        &.liked svg {
            animation: scaleHeart 0.4s ease-in-out;
            color: var(--primary-cl);
        }

        &.saved svg {
            transform-origin: top;
            animation: scaleSave 0.4s ease;
            color: var(--yellow-color);
        }

        &:not(.saved, .liked) svg {
            animation: cancel 0.6s ease-in-out;
        }
    }

    &__value {
        color: var(--secondary-text-cl);
        font-size: 1.2rem;
        line-height: 1.334;
        font-weight: 700;
        text-align: center;
    }

    &__btn-following {
        display: block;
        font-size: clamp(1.5rem, 1vw + 1rem, 2.4rem);
        position: absolute;
        bottom: 0;
        padding: 0;
        transform: translateY(50%);
        color: var(--white-color);
        background-color: var(--primary-cl);
        border: 1px solid transparent;
        width: 1em;
        height: 1em;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
        outline: 1px solid var(--primary-cl);
    }
}

@keyframes scaleHeart {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleSave {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scaleY(1.2);
    }
}
@keyframes cancel {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scaleY(1.1);
    }
}
